<!-- Footer -->
<footer class="page-footer font-small blue" ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: rgb(41, 40, 40); color: white; bottom: 5px;position: absolute; width: 100%;" >NodeJS Project   ITI-MansouraBranch    OS-Track
      <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->