
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/loginStyle.css" />
    </head>
    <body>
        <form action="http://localhost:8082/login" method="POST">
          Name:  <input type="text" name="userName"  required/><br/>
          Password:  <input type="password" name="userPassword" required /><br/>
            <input type="submit" value="login"/>
        </form>
    </body>
</html>


